@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Poppins:ital,wght@0,300;0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Kanit:wght@300&family=Montserrat&family=Nunito&family=Poppins:ital,wght@0,300;0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Playfair+Display:wght@500&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Playfair+Display:wght@500&family=Poppins:wght@500&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  list-style: none;
}
.mainbg {
  background-image: linear-gradient(rgba(16, 1, 1, 0.8),rgba(16, 1, 1, 0.8)), url(aboutbg.jpg);
  background-size: cover;
  background-position: left 1% top -100px;
  height: 85vh; 
  width: 100vw;
  border-bottom: 10px solid rgb(171, 26, 26);
}

nav {
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav span {
  padding: 10px;
}
.webname {
  font-size: 40px;
  font-weight: 700;
}
.opt {
  font-size: 20px;
  margin-left: 50px;
  font-weight: 200px;
  transition: 0.5s ease;
}
.opt:hover {
  background-color: rgb(171, 26, 26);
  color: #000;
  cursor: pointer;
  transition: 0.5s ease;
  font-weight: 500;
}
.webname {
  cursor: pointer;
}
/* ----- */
.bodytext h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: white;
  }
  .bodytext p {
    font-family: 'Poppins', sans-serif; 
    margin: 10px 0 40px;
    text-transform: lowercase;
  }
  .bodytext {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    cursor: default;
  }
  @media(max-width: 700px) {
    .bodytext h1 {
          font-size: 30px;
    }
    .bodytext {
       padding-right: 10px;
    }
    .bodytext p {
       font-size: 10px   ;
    }
    body {
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }
    nav .opt {
       display: block;
       margin-left: 40px;
       margin-top: 20px;
    }
    nav .opt:hover {
       background-color: #fff;
    }
    nav .opts {
       position: absolute;
       background-color: rgb(171, 26, 26);
       height: 100vh;
       width: 200px;
       top: 0;
       right: -200px;
       text-align: left;
       z-index: 2;
       transition: 0.5s;
    }
    nav #icon {
       display:inline;
       color: white;
       margin-top: 100px;
       font-size: 22px;
       cursor: pointer;
    }
    nav .menubtn {
       display: block;
       margin-right: 20px;
    }
    nav .backbtn {
       display: block;
    }
  }
  
  .backbtn {
    font-family: 'Poppins', sans-serif;
    padding: 2px;
    background-color: black;
    display: none;
  }
  .menubtn {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: rgb(171, 26, 26);
    display: none;
  }

  /* --------------------------about dev css--------------------------- */
  .bgcolor {
   background-color: #272932;
   position: absolute;
   left: 100px;
   top: 790px;
   width: 90vw;
   height: 110vh;
   z-index: 0;
   overflow: hidden;
   border: 10px dashed #DBDFAC;
   border-radius: 50px;
   animation: slideinleft 2s ease 2s  ;
  }
  .aboutdev {
    width: 100vw;
    height: 130vh;
    display: flex;
    background-color: #D5DFE5;
    z-index: -1 ;
    /* margin-bottom: 100px; */
  }
  .shubh img {
    height: auto;
    width: 500px;
    border-radius: 50%;
    position: relative;
    top: 40px;
    border: 10px dashed #DBDFAC;
    animation: spin 7s ease-in-out 2s infinite ;
  }
  .aboutdev h3 {
   color: #A5BE00;
   font-size: 50px;
   font-family: 'Abril Fatface', serif;
   font-size: 100px;
   font-weight: 200;
   position: relative;
   top: 45px;
   right: 50px;
   animation: slidefromtop 2s ease 2s  ;
   cursor: default;  
  }
  .aboutpara {
   width: 900px;
   height: 100%;
   position: relative;
   left: 400px;
   top: 220px;
  }
  .aboutpara p {
   font-size: 20px;
   font-family: 'Poppins', sans-serif;
   color: #DBDFAC;
  }
  @keyframes slidein {
   from {
     transform: translateX(-500px);
   }
   to {
     transform: translateX(0px);
   }
 }
 @keyframes slidefromtop {
   from {
      transform: translateY(-200px);
   }
   to {
      transform: translateY(0px);
   }
 }
 @keyframes slideinleft {
   from {
     transform: translateX(500px);
   }
   to {
     transform: translateX(0px);
   }
}
@keyframes spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
/* ----------------------media for aboutdev---------------------------- */
@media(max-width: 700px) {
   .shubh img {
      width: 200px;
   }
   .aboutdev h3 {
      font-size: 50px;
   }
   .bgcolor {
      left: 20px;
      border-radius: 50px;
     position: absolute;
      top: 900px;
   }
   .aboutpara p {
      font-size: 12px;
      width: 320px;
   }
   .aboutpara {
      width: 360px;
      height: 100%;
      position: relative;
      left: 10px;
      top: 200px;
   }
}

/* ------------------footer------------- */
.footer {
    height: 90vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 10px solid rgb(171, 26, 26);
    background-color: rgb(77, 6, 6);
    z-index: 1;
    /* margin-top: 19px; */
 }
 .button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: rgb(171, 26, 26);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 .footer .spantextbot {
    text-align: center; 
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 20px; 
    padding-top: 10px;
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid white; 
 }
 .descr {
      margin-top: 50px;
      display: flex;
      justify-content: space-evenly;
 }
 .footer .descr li {
    margin-top: 15px;
 }
 .headofli {
    font-weight: 700;
 }
 .copyright {
    text-align: center;
    margin-top: 100px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 .footer .socialmedia a {
    font-size: 20px;
    margin-left: 10px;
    
 }
 .socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(40px);
 }
 @media(max-width: 700px) {
    .footer {
       height: 100vh;
    }
    .footer .spantextbot span {
       font-size: 10px;
    }
    .footer .descr .list3 {
       display: none;
    }
 }
