@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Poppins:ital,wght@0,300;0,500;0,600;1,500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Kanit:wght@300&family=Montserrat&family=Nunito&family=Poppins:ital,wght@0,300;0,500;0,600;1,500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Poppins:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Playfair+Display:wght@500&family=Poppins:wght@500&display=swap');
* {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Nunito', sans-serif;
   /* font-family: 'Poppins', sans-serif; */
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: white;
   text-decoration: none;
   list-style: none;
}
.mainbg {
   background-image: linear-gradient(rgba(16, 1, 1, 0.8),rgba(16, 1, 1, 0.8)), url(moneybills.jpg);
   background-size: cover;
   height: 85vh; 
   width: 100vw;
}
nav {
   width: 100vw;
   height: 100px;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
nav span {
   padding: 10px;
}
.webname {
   font-size: 40px;
   font-weight: 700;
}
.opt {
   font-size: 20px;
   margin-left: 50px;
   font-weight: 200px;
   transition: 0.5s ease;
}
.opt:hover {
   background-color: rgb(171, 26, 26);
   color: #000;
   cursor: pointer;
   transition: 0.5s ease;
}
.webname {
   cursor: pointer;
}
.bodytext h1 {
   font-family: 'Poppins', sans-serif;
   font-size: 60px;
   color: white;
}
.bodytext p {
   font-family: 'Poppins', sans-serif; 
   margin: 10px 0 40px;
   text-transform: lowercase;
}
.bodytext {
   width: 90%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   cursor: default;
}
.visit {
   border: 2px solid white;
   text-decoration: none;
   padding: 10px 20px 10px 20px;
   transition: 0.3s;
}
.visit:hover {
   background-color: rgb(171, 26, 26);
   transition: 0.3s;
   border: 2px solid rgb(171, 26, 26) ;
}
@media(max-width: 700px) {
   .bodytext h1 {
         font-size: 30px;
   }
   .bodytext {
      padding-right: 10px;
   }
   .bodytext p {
      font-size: 10px   ;
   }
   body {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
   }
   nav .opt {
      display: block;
      margin-left: 40px;
      margin-top: 20px;
      transition: 0.5s;
   }
   nav .opt:hover {
      background-color: #fff;
   }
   nav .opts {
      position: absolute;
      background-color: rgb(171, 26, 26);
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 0.5s;
   }
   nav #icon {
      display:inline;
      color: white;
      margin-top: 100px;
      font-size: 22px;
      cursor: pointer;
   }
   nav .menubtn {
      display: block;
      margin-right: 20px;
   }
   nav .backbtn {
      display: block;
   }
}

.backbtn {
   font-family: 'Poppins', sans-serif;
   padding: 2px;
   background-color: black;
   display: none;
}
.menubtn {
   position: absolute;
   top: 30px;
   right: 10px;
   background-color: rgb(171, 26, 26);
   display: none;
}
/* ----------------scroll btn ------------------------- */
.ex-scroll {
   width: 181px;
   height: 41px;
   background: transparent;
   transition: 0.3s ease;
   border: 2px solid white;
}
.ex-scroll:hover {
   background-color: rgb(171, 26, 26);
   transition: 0.3s ease;
   border: 2px solid rgb(171, 26, 26);
   cursor: pointer;
}
/* ---------------------------------course---------------------------------- */
.courses {
   height: 110vh;
   width: 100vw;
   border-top: 10px solid rgb(171, 26, 26);
   background-color: rgb(240, 240, 240);
}
.courses h2 {
   color: rgb(171, 26, 26);
   font-family: 'Poppins', sans-serif;
   font-size: 40px;
   text-align: center;
   margin-top: 20px;
   margin-right: 20px;
   margin-left: 20px;
}
.courses p {
   color: grey;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
}
.courses-plans {
   display: flex;
   justify-content: space-evenly;
   margin: 30px;
}
.plan1 {
   height: 550px;
   width: 350px;
   border-radius: 20px;
   box-shadow: 7px 5px 10px 1.5px rgba(0,0,0,0.2);
   background-color: white;
   transition: 0.5s ease;
}
.plan1:hover {
   background-color: rgb(171, 26, 26);
   transition: 0.5s ease;
   transform: scale(1.05);
}
.plan1:hover p {
   color: white;
}
.plan1:hover .fa-solid {
   color: white;
}
.plan1:hover a {
   background-color: white;
   color: rgb(171, 26, 26);
}
.plan2 {
   height: 550px;
   width: 350px;
   border-radius: 20px;
   box-shadow: 7px 5px 10px 1.5px rgba(0,0,0,0.2);
   background-color: white;
   transition: 0.5s ease;
}
.plan2:hover {
   background-color: rgb(171, 26, 26);
   transition: 0.5s ease;
   transform: scale(1.05);
}
.plan2:hover p {
   color: white;
}
.plan2:hover .fa-solid {
   color: white;
}
.plan2:hover a {
   background-color: white;
   color: rgb(171, 26, 26);
}
.plan3 {
   height: 550px;
   width: 350px;
   border-radius: 20px;
   box-shadow: 7px 5px 10px 1.5px rgba(0,0,0,0.2);
   background-color: white;
   transition: 0.5s ease;
}
.plan3:hover {
   background-color: rgb(171, 26, 26);
   transition: 0.5s ease;
   transform: scale(1.05);
}
.plan3:hover p {
   color: white;
}
.plan3:hover .fa-solid {
   color: white;
}
.plan3:hover a {
   background-color: white;
   color: rgb(171, 26, 26);  
}
.courses-plans .pp {
   font-size: 30px;
   font-weight: 350;
   margin: 20px 20px 20px 30px;
   color: black;
}
.courses-plans .fa-solid {
   color: black;
   font-size: 20px;
   display: inline;
}
.courses-plans .price {
   color: black;
   display: inline;
   font-size: 50px;
}
.ph3  {
   text-align: center;
}
.courses .courses-plans .content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 50px;
   font-size: 50px;
}
.courses .courses-plans .content p {
   font-size: 25px;
   margin: 10px 10px 10px 50px;
   text-align: left;
}
.buynowbtn {
    height: 150px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.buynowbtn a {
   height: 60px;
   width: 200px;
   padding: 20px;
   border: 2px solid rgb(171, 26, 26);
   font-family: 'Poppins', sans-serif;
   border-radius: 10px;
   color: rgb(254, 252, 252);
   position: relative;
   bottom: 0;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(171, 26, 26);
   transition: 0.5s ease;
}
.buynowbtn a:hover {
   transform: scale(1.2);
   transition: 0.5s ease;
}
/* --------------------------media for courses--------------------------- */
@media (max-width : 700px) {
   .courses h2 {
      font-size: 30px;
   }
   .courses {
      height: 250vh;
   }
   .plan1 {
      margin-bottom: 50px;
   }
   .plan2 {
      margin-bottom: 50px;
   }
   .plan3 {
      margin-bottom: 50px;
   }
   .courses-plans {
      display: flex;
      flex-direction: column;
   }
}

/* ------------------footer------------- */
.footer {
   height: 90vh;
   width: 100vw;
   /* display: flex; */
   flex-wrap: wrap;
   justify-content: center;
   border-top: 10px solid rgb(171, 26, 26);
   background-color: rgb(77, 6, 6);
   /* margin-top: 20px; */
}
.button {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 20px;
   padding: 10px 15px;
   background-color: rgb(171, 26, 26);
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
.footer .spantextbot {
   text-align: center; 
   font-family: 'Poppins', sans-serif;
   font-size: 12px;
   margin-top: 20px; 
   padding-top: 10px;
   height: 100px;
   width: 100vw;
   border-bottom: 2px solid white; 
}
.descr {
     margin-top: 50px;
     display: flex;
     justify-content: space-evenly;
}
.footer .descr li {
   margin-top: 15px;
}
.headofli {
   font-weight: 700;
}
.copyright {
   text-align: center;
   margin-top: 100px;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   padding-top: 30px;
   padding-bottom: 30px;
}
.footer .socialmedia a {
   font-size: 20px;
   margin-left: 10px;
   
}
.socialmedia {
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateY(40px);
}
@media(max-width: 700px) {
   .footer {
      height: 100vh;
   }
   .footer .spantextbot span {
      font-size: 10px;
   }
   .footer .descr .list3 {
      display: none;
   }
}
