@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Poppins:ital,wght@0,300;0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Kanit:wght@300&family=Montserrat&family=Nunito&family=Poppins:ital,wght@0,300;0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400&family=Montserrat&family=Nunito&family=Playfair+Display:wght@500&family=Poppins:wght@500&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  list-style: none;
}
.mainbg {
  background-image: linear-gradient(rgba(16, 1, 1, 0.9),rgba(16, 1, 1, 0.9)), url(signupbg.jpg);
  background-size: cover;
  height: 610px; 
  width: 100vw;
}
input {
  padding : 0 20px;
}
nav {
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav span {
  padding: 10px;
}
.webname {
  font-size: 40px;
  font-weight: 700;
}
.opt {
  font-size: 20px;
  margin-left: 50px;
  font-weight: 200px;
  transition: 0.5s ease;
}
.opt:hover {
  background-color: rgb(171, 26, 26);
  color: #000;
  cursor: pointer;
  transition: 0.5s ease;
  font-weight: 500;
}
.webname {
  cursor: pointer;
}
@media(max-width: 700px) {
    nav .opt {
       display: block;
       margin-left: 40px;
       margin-top: 20px;
    }
    nav .opt:hover {
       background-color: #fff;
    }
    nav .opts {
       position: absolute;
       background-color: rgb(171, 26, 26);
       height: 100vh;
       width: 200px;
       top: 0;
       right: -200px;
       text-align: left;
       z-index: 2;
       transition: 0.5s;
    }
    nav #icon {
       display:inline;
       color: white;
       margin-top: 100px;
       font-size: 22px;
       cursor: pointer;
    }
    nav .menubtn {
       display: block;
       margin-right: 20px;
    }
    nav .backbtn {
       display: block;
    }
  }
  
  .backbtn {
    font-family: 'Poppins', sans-serif;
    padding: 2px;
    background-color: black;
    display: none;
  }
  .menubtn {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: rgb(171, 26, 26);
    display: none;
  }
  /* ---------------signupform------------------------- */
  .mainbg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signupform {
    width: 600px;
    height: 590px;
    background-color: rgb(77, 6, 6);
    border-radius: 20px;
  }
 .signupform h3 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 20px 20px 10px 20px;    
    font-family: 'Poppins', sans-serif;
 }
 .usernameNpass  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 .usernameNpass input {
    width: 500px;
    height: 40px;
    border-radius: 15px;
    color: black;
    border: 2px solid white;
 }
 .usernameNpass input::placeholder {
   color: rgb(77, 6, 6);
   position: absolute;
   left: 20px;
 }
 .usernameNpass .fa-solid {
   margin: 10px;
 }
 .usernameNpass p {
  font-family: 'Poppins', sans-serif;
 }
 .usernameNpass .signinbtn {
  width: 500px;
  height: 40px;
  border: 2px solid rgb(171, 26, 26);
  border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   background-color: rgb(171, 26, 26);
   transition: 0.5s ease;
 }
 .usernameNpass .signinbtn:hover {
  background-color: white;
  color: rgb(171, 26, 26);
  transition: 0.5s ease;
  box-shadow: 2px 2px 20px 2px rgb(171, 26, 26);
 }
 .forgetpass {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
 }
 .or {
  margin: 20px  ;
  cursor: default;
 }
 .twitt .signintwitter {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1DA1F2;
   transition: 0.5s ease;
   font-family: 'Poppins', sans-serif;
   width: 500px;
   height: 40px;
   border: 2px solid #1DA1F2;
   border-radius: 15px;
   margin-top: 0px;
   transition: 0.5s ease;
 }
 .twitt .signintwitch {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   background-color: #8c44f7;
   transition: 0.5s ease;
   font-family: 'Poppins', sans-serif;
   width: 500px;
   height: 40px;
   border: 2px solid #8C44F7;
   border-radius: 15px;
   transition: 0.5s ease;
 }
 .twitt .fa-brands {
  margin: 20px;
 }
 .twitt a:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
 }
 /* ------------------media for sign up------------------------------- */
 @media(max-width : 700px) {
  .signupform {
    height: 600px;
    margin-top: 50px;
  }
  .mainbg {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: flex-start;
  }
  .signupform {
    width: 80%;
  }
  .signupform h3 {
    font-size: 30px;
  }
  .usernameNpass input {
    width: 300px;
  }
  .usernameNpass .signinbtn {
   width: 300px;
  }
  .usernameNpass .forgetpass {
    width: 280px;
  }
  .twitt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .usernameNpass .twitt .signintwitter {
    width: 300px;
  }
  .usernameNpass .twitt .signintwitch {
    width: 300px;
  }
 }

 /* ------------------footer------------- */
 .footer {
  display: none;
 }
@media(max-width: 700px) {
  .footer {
    height: 90vh;
    width: 100vw;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 10px solid rgb(255, 255, 255);
    background-color: rgb(77, 6, 6);
  }
  .button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: rgb(171, 26, 26);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .footer .spantextbot {
    text-align: center; 
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 20px; 
    padding-top: 10px;
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid white; 
  }
  .descr {
      margin-top: 50px;
      display: flex;
      justify-content: space-evenly;
  }
  .footer .descr li {
    margin-top: 15px;
  }
  .headofli {
    font-weight: 700;
  }
  .copyright {
    text-align: center;
    margin-top: 100px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer .socialmedia a {
    font-size: 20px;
    margin-left: 10px;
    
  }
  .socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(40px);
  }
}
@media(max-width: 700px) {
  .footer {
     height: 100vh;
  }
  .footer .spantextbot span {
     font-size: 10px;
  }
  .footer .descr .list3 {
     display: none;
  }
}
